$indexMenuColor: #a10a30;
$grayColor:#a39a9a;
$lightGrayColor:#e6dfe1;
$minFontSize:22rpx;
$middleFontSize:28rpx;
$intelColor:#6685dc;
$AMDColor:#d33b23;
$yellow:rgb(243, 227, 174);

$AMDlinearGradientColor:linear-gradient(to right, #b62b15 , #ca6b5c);
$INTELlinearGradientColor:linear-gradient(to right, #446fe4 , #0e54a5);