/* componets/LadderDiagram/LadderDiagram.wxss */
@import '../../common/scss/common.scss';
.Ladder-diagram-container{
    -webkit-overflow-scrolling: touch;
    .line{
        position: absolute;
        width: 10rpx;
        height: calc(100% - 134rpx);
        background-color: $lightGrayColor;
        z-index: 999;
    }
    .middle-line{
        left: 50%;
        transform: translateX(-50%);
    }
    .side-line{
        left: 10rpx;
    }
    .line::before{
        display: block;
        content: '';
        border: 16rpx solid transparent;
        border-bottom-color: $lightGrayColor;
        transform: translateY(-18rpx) translateX(-12rpx);
    }
    .Ladder-diagram-box{
        padding-bottom: 50rpx;
    }
    .text-fa{
      
       border-radius: 10rpx;
    }
    .text-box,.text-box-side{
        display: flex;
        
        height: 70rpx;
    }
    .text-box{
        width: 48%;
    }
    .AMD-text{
        height: 100%;
        background: $AMDlinearGradientColor;
    }
    .intel-text,.NVIDIA-text{
        background: $INTELlinearGradientColor;
    }
    .Ladder-diagram-item{
        padding-top: 30rpx;
        display: flex;
        align-items: center;
        height: 70rpx;
        line-height: 70rpx;
        font-size: $minFontSize;
        color: #fff;
    }
    .text-box-side{
        margin-left: 30rpx;
        width: calc(100% - 30rpx);
       
    }
    .AMD{
        justify-content: flex-end;
    }
    .box-intel,.box-NVIDIA{
        display: flex;
        flex-direction: row-reverse;
    }
    .brand-AMD,.brand-intel,.brand-NVIDIA,.brand{
        position: absolute;
        top:0;
        display: inline-block;
        width: 460rpx;
        height: 100%;
        text-shadow: 4rpx 4rpx rgb(35, 34, 36);
        transform-origin: 0;
        transform: scale(.8);
        z-index: 999;
    }
    .brand-AMD,.brand{
        left: 20rpx;
    }
    .brand-intel,.brand-NVIDIA{
        right: 20rpx;
        transform-origin: right;
        text-align: right;
    }
    .brand-box{
        position: relative;
        width: 0%;
        
    }
    
}