@import '../../common/scss/common.scss';
/* componets/Drawer/Drawer.wxss */
.actived{
    color: $AMDColor;
}
.drawer-container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .4);
    z-index: 1000;
    .drawer-box{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        bottom:0;
        left: 0;
        width: 100%;
        height: 0;
        border-radius: 0;
        border-top-left-radius: 30rpx;
        border-top-right-radius: 30rpx;          
        background-color: #fff;
       
        .title-box{
            padding: 20rpx ;
        }
        .title-box{
            width: 100%;
            text-align: center;
            border-bottom: 1px solid $lightGrayColor;
        }
        .filter-box{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            font-size: $middleFontSize;
            .left-box,.right-box{
                padding: 20rpx;
                width: 200rpx;
                text-align: center;
            }
            .box-img{
                padding: 0 10rpx;
                width: 20rpx;
                height: 20rpx;
            }
        }
        .filter-detail-box{
            position: relative;
            width: 100%;
            .detail-actived{
                position: absolute;
                width: 100%;
                z-index: 1000;
            }
            .filter-detail{
                background-color: #fff;
                .filter-item{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0 auto;
                    padding: 20rpx;
                    width: 96%;
                    font-size: $middleFontSize;
                    border-bottom: 1px solid $lightGrayColor;
                    .filter-name{
                        flex:1;
                    }
                    .filter-label{
                        width: 60rpx;
                        text-align: center;
                    }
                }
            }
        }
        .scroll{
            padding-bottom: env(safe-area-inset-bottom);
            width: 100%;
            height: calc(100% - 160px);
            .scroll-item{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: center;
                padding: 25rpx 20rpx;
                .item-box{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .img{
                width: 170rpx;
                height: 170rpx;
                border-radius: 15rpx;
            }
            .left-box,.right-box{
                padding: 0 10rpx;
            }
            .right-box{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                font-size: $middleFontSize;
                .top{
                    max-width: 400rpx;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .middle{
                    display: -webkit-box;
                    font-size: 12px;
                    color: gray;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
                .box-text:not(:nth-child(1)){
                    padding-top: 15rpx;
                }
                .bottom{
                    color: $AMDColor;
                    font-weight: bold;
                    .charactor{
                        font-size: 12px;
                    }
                    .bottom-text{
                        font-size: 15px;
                    }
                }
            }
            .number-box{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                .number-button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 30rpx;
                    .number-btn{
                        margin: 0;
                        padding: 0;
                        width: 60rpx;
                        height: 50rpx;
                        line-height: 50rpx;
                        border: none;
                        border-radius: 30rpx;
                        background-color: rgb(243, 241, 241);
                    }
                    .number-btn:first-child{
                        border-top-left-radius: 30rpx;
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                        border-bottom-left-radius: 30rpx;
                    }
                    .number-btn:nth-child(3){
                        border-top-left-radius: 0;
                        border-bottom-right-radius: 30rpx;
                        border-top-right-radius: 30rpx;
                        border-bottom-left-radius: 0;
                    }
                    .number-btn:nth-child(2){
                        margin: 0 6rpx;
                        width: 80rpx;
                        border-radius: 0;
                    }
                }
                .number-btn{
                    margin: 0;
                    padding: 0 30rpx;
                    height: 50rpx;
                    line-height: 50rpx;
                    border: none;
                    border-radius: 30rpx;
                    font-size: $minFontSize;
                }
                
            }
        }
    }
    .drawer-transition{
        height: 40%;
       
    }
    .drawer-transition-higher{
        height: 80%;
    }
    .drawer-transition,.drawer-transition-higher,.transition-normal{
        transition: height .5s ease-in;
    }
    .transition-normal{
        height: 0;
    }
    .none{
        color: $lightGrayColor;
        font-size: $minFontSize;
    }
}