@import '../../common//scss//common.scss';
/* pages/arrange/arrange.wxss */

.arrange-container{
    width: 100%;
    height: calc(100vh - 82px);
    .scroll{
        width: 100%;
        background-color: $lightGrayColor;
    }
    .diactiveHeight{
        height: 100%;
    }
    .activeHeight{
        height: calc(100% - 85px);
    }
    .arrange-item{
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 20rpx 0;
        margin-bottom: 8rpx;
        height: 10%;
        background-color: #fff;
        .search{
            width: 32rpx;
            height:32rpx
        }
        .hardware{
            width: 120rpx;
            text-align: center;
        }
        .hardware-desc{
            flex: 1;
            font-size: $middleFontSize;
            color: $grayColor;
            text-align: center;
        }
        .select-box{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .choose-data-box{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            font-size: 12px;
            .choose-item{
               display: inline-block;
               height: 16px;
               max-width: 210px;
               text-overflow: ellipsis;
               white-space: nowrap;
               overflow: hidden; 
               
            }
            .title{
                color: #000;
            }
            .brand{
                padding: 6rpx;
                border-radius: 10rpx;
                background-color: $AMDColor;
                color: #fff;
                transform-origin: 0 ;
                transform: scale(.8) translateY(20%);
            }
            .bottom{
                display: flex;
                justify-content: center;
                align-items: center;
                color: $AMDColor;
                .multi{
                    margin: 0 4rpx;

                }
            }
        }
       
    }
    .drawer{
        position: absolute;
        top:0;
        left: 0;
        width:100%;
        height: 100%;
    }
}