@import '../../common//scss//common.scss';
/* pages/arrange/arrange.wxss */

.arrange-container{
    width: 100%;
    height: calc(100vh - 82px);
    .scroll{
        width: 100%;
        background-color: $lightGrayColor;
    }
    .diactiveHeight{
        height: 100%;
    }
    .activeHeight{
        height: calc(100% - 75px);
    }
    .arrange-item{
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 20rpx 0;
        margin-bottom: 8rpx;
        height: 10%;
        background-color: #fff;
        .search{
            width: 32rpx;
            height:32rpx
        }
        .hardware{
            padding: 30rpx;
        }
        .hardware-desc{
            flex: 1;
            font-size: $middleFontSize;
            color: $grayColor;
            text-align: center;
        }
        .select-box{
            display: flex;
            align-items: center;
            justify-content: center;
        }
       
    }
}